.Logo{
    animation : transitionIn 1s;
    background-color :white;
    height : 100%;
    padding : 8px;
    box-sizing : border-box;
    border-radius : 5px;
}

.Logo img{
    height : 100%;
}

@keyframes transitionIn{
    from{
      /* opacity : 0; */
      transform : rotateX(3.14rad)
    }
  
    to{
      transform : rotateX(0)
    }
  }