.Input{
    width : 100%;
    padding : 10px;
    box-sizing : border-box;
}

.Label{
    font-weight : bold;
}

.InputElement{
    outline : none;
    border : 1px solid #ccc;
    width : 100%;
    display : block;
    padding : 5px 10px;
    box-sizing: border-box;
    font : inherit;
}


.Invalid{
    border : 1px solid red;
}

.InputElement:focus{
    background-color : #eee;
}

.ValidationError{
    color :red;
    margin : 5px 0;
}