.NavigationItems {
    animation : transitionIn 1s;
    margin : 0;
    padding : 0;
    list-style : none;
    display : flex;
    flex-direction : column;
    align-items : center;
    height : 100%;
}

@media (min-width : 500px){
    .NavigationItems{
        flex-direction: row;
    }
}

@keyframes transitionIn{
    from{
      opacity : 0;
      transform : rotateX(3.14rad)
    }
  
    to{
      opacity : 1;
      transform : rotateX(0);
    }
  }